/* styling main things */

body{
    padding: 1rem;
    margin: 0;
    background-color: whitesmoke;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btnContainer{
    display: flex;
    gap: 5rem;
}

.newBook,.resetLibrary{
    width: 225px;
    height: 60px;
    background-color:aquamarine;
    border: 0;
    border-radius: 1rem;
    box-shadow: 1px 1px gray;
    font-size: 22px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.6);
}

.container{
    width: 85%;
    height: 85%;
    background-color: white;
    box-shadow: 3px 3px rgba(128, 128, 128, 0.3);
    border: 1px solid gray;
    margin-top: 1rem;
}

/* Styling things added by js */

form{
    display: flex;
    flex-direction: column;
}

label,input{
    font-size: 18px;
    
}

form label + input, input + label {
    margin-top: 5px;
}

.optionContainer{
    margin-top: 10px;
}

#checkYes{
    width: 16px;
    height: 16px;
    margin-right: 10px;
    vertical-align: top;
}

#inputPages{
    width: 50px;
}

.confirmButton{
    width: 90px;
    height: 30px;
    border-radius: 1rem;
    color: rgba(0, 0, 0, 0.8);
    background-color: aquamarine;
    margin-top: 15px;
}